<h1>Show <%= @subscriber.name %></h1>

<%= div_for @subscriber do %>
  <p>
    <strong>name:</strong>
    <%= @subscriber.name %>
  </p>
  <p>
    <strong>host:</strong>
    <%= @subscriber.host %>
  </p>
  <p>
    <strong>recipient:</strong>
    <%= @subscriber.recipient %>
  </p>
  <p>
    <strong>keep alives count:</strong>
    <%= @subscriber.keepalives_count %>
  </p>
  <p>
    <strong>token:</strong>
    <pre><%= @subscriber.token %></pre>
  </p>
<% end %>

<%= link_to "edit", edit_admin_subscriber_path(@subscriber) %>
<%= link_to "regenerate token",
            regenerate_token_admin_subscriber_path(@subscriber),
            data: { confirm: 'Are you sure? All existing implementations will stop working' },
            method: :post %>

<h2>How to add?</h2>
<ol>
  <li>Use keepalive</li>
  <li>Use recaptcha (if required) (and add g-recaptcha element to form)</li>
  <li>Point form action and set token inside it</li>
</ol>

<%= render "notifications" %>
